name: Go

# Any change in triggers needs to be reflected in the concurrency group.
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  merge_group:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.event.after }}
  cancel-in-progress: true

jobs:

  build:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - name: Set up Go
      uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
      with:
        # renovate: datasource=golang-version depName=go
        go-version: 1.25.7

    - name: Run static checks
      uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
      with:
        # renovate: datasource=docker depName=golangci/golangci-lint
        version: v2.9.0
        args: --config=.golangci.yml --verbose
        skip-cache: true

    - name: Check module vendoring
      run: |
        go mod tidy
        go mod vendor
        go mod verify
        test -z "$(git status --porcelain)" || (echo "please run 'go mod tidy && go mod vendor', and submit your changes"; exit 1)

    - name: Build
      run: make

    - name: Test
      run: make test
