name: Go

# Any change in triggers needs to be reflected in the concurrency group.
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  merge_group:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.event.after }}
  cancel-in-progress: true

jobs:

  build:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - name: Set up Go
      uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
      with:
        # renovate: datasource=golang-version depName=go
        go-version: 1.25.5

    - name: Run static checks
      uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
      with:
        # renovate: datasource=docker depName=golangci/golangci-lint
        version: v2.7.0
        args: --config=.golangci.yml --verbose
        skip-cache: true

    - name: Check module vendoring
      run: |
        go mod tidy
        go mod vendor
        go mod verify
        test -z "$(git status --porcelain)" || (echo "please run 'go mod tidy && go mod vendor', and submit your changes"; exit 1)

    - name: Build
      run: make

    - name: Test
      run: make test
